/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require devise_bootstrap_views
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 
.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.logout {
  padding-left: 0;
}

.user-name {
  padding-top: 15px;
}

.nav.navbar-right li {
  .btn {
    color: rgb(13, 240, 6) !important;
    margin-top: 5%;
  }
  .btn-danger:hover {
    background-color: darken(#f40f07, 20%) !important;
  }
background-image: url("blue_pink_mic.jpg") !important;
  height: 300px;
  background-size: 100% 100%;
  text-align: center;
}


body {
  background-color: #5f92e3 !important;
  font-family: 'Nanum Gothic Coding', monospace !important;
}
h1, h2, h3, h4, h5,h6{
  color: white !important;
}


 

